<h1>All Comments</h1>

<% @comments.each do |comment| %>
	<%# Post: <%= comment.post.title%> %>
	<%# Content: <%= comment.post.content%> %>
	<br>
	<br><ol>
	<li>comment: <%= comment.content%></li>
    </ol>
	<br>
	<hr>
<% end %>
